REACT_APP_APIDB=http://localhost:8000/
REACT_APP_MIA=https://mia.genomics.hs.uci.edu/
REACT_APP_SNP=https://snp.genomics.icts.uci.edu/
REACT_APP_VERSION=https://github.com/UCI-ICTS/icts-dashboard/tree/{TAG}