/* Variables for Consistency */
:root {
  --main-bg-color: rgb(250, 249, 246);
  --accent-bg-color: rgb(186, 209, 234);
  --font-bold: bold;
  --title-font-size: 28px;
  --subtitle-font-size: 24px;
  --spacing-small: 10px;
  --spacing-medium: 50px;
}

/* 
#0064a4 UCI Blue
#ffd200 UCI Gold
*/

/* Outlet styles */
.outlet-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('../public/ICTS-background.jpeg'); /* Adjust the path to your image */
  background-size: cover;
  background-position: center;
}

.outlet-container {
  display: flex;
  flex: 1;
  padding-top: 75px;
  overflow: hidden;
}

.outlet-main-content,
.outlet-content {
  flex: 1;
  overflow: auto;
  text-align: center;
}

/* NavBar Styles */
.navbar {
  background-color: #0064a4 !important; /* Change to your preferred color */
  color: white !important;
}

.navbar-right {
  margin-left: auto; /* Pushes the element to the right */
  display: flex;
  align-items: center;
}

.navbar-menu {
  padding-left: 5%;
  flex-grow: 1;
  display: none;
}

@media (min-width: 900px) { /* Adjust the breakpoint as needed */
  .navbar-menu {
    display: flex;
  }
}

.navbar .navbar-link {
  color: white !important;
  text-decoration: none;
}

.navbar .navbar-link:hover {
  color: #ffcc00;
  text-decoration: underline !important;
}

.navbar .navbar-link:visited {
  color: white; /* Keep the default color */
  text-decoration: none; /* No underline */
}

.button-confirm {
  background-color: #0064a4; /* UCI Blue */
  color: white;
}

.login-box {
  background-color: #ffffff; /* White background */
  opacity: 1; /* Fully opaque */
  padding: 20px; /* Optional: Add some padding */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.container-test {
  border: 2px solid white; /* Black outline */
  padding: 20px; /* Optional: Add some padding */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}
/* Homepage Styles */
.home-root {
  background-color: var(--main-bg-color);
  margin: auto;
  min-height: 100%;
  padding: var(--spacing-small) 0;
  min-width: 275px;
}

.home-bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}

.home-centered {
  text-align: center;
  min-width: 275px;
}

.home-heightened {
  min-height: 50px;
}

.home-title {
  font-size: var(--title-font-size);
  font-weight: var(--font-bold);
}

.home-position {
  margin-bottom: var(--spacing-small);
}

.home-margintop {
  margin-top: var(--spacing-medium);
}

.home-colorBackground {
  background-color: var(--accent-bg-color);
}

.home-linkcard,
.home-supportcard {
  text-align: center;
  min-width: 275px;
}

.home-linkcard {
  height: 250px;
  margin-top: 5px;
}

.home-supportcard {
  margin-bottom: var(--spacing-small);
  min-height: 460px;
}

.home-subtitle {
  font-size: var(--subtitle-font-size);
  font-weight: var(--font-bold);
}

.home-grid-item {
  width: 100%;
}

/* Style for the dialog form container */
.dialog-form-container {
  width: 1200px;
  border-radius: 8px;
  justify-content: center; /* Center the buttons */
  max-width: 100%;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for better visual separation */
}

/* Style for the dialog title */
.dialog-form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  padding-bottom: 10px;
}

/* Style for the dialog content */
.dialog-form-content {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  max-height: calc(100vh - 200px); /* Prevent the content from overflowing the screen */
  overflow-y: auto; /* Allows the content to scroll if it's too long */
}

/* You can also add styles for buttons if needed */
.dialog-form-actions {
  position: sticky;
  top: 0; /* Sticks the buttons to the top of the dialog content */
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: white; /* Ensure it's solid and non-transparent */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for better visual separation */
  z-index: 10; /* Ensures the actions stay above other content */
}

.dialog-form-actions .MuiButton-root {
  margin: 5px;
}

.box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  max-width: 1000px; /* Adjust to fit the page */
  margin: 0 auto; /* Center the container */
  overflow-x: auto; /* Allow horizontal scrolling for smaller screens */
  border: 1px solid #ddd; /* Optional: Add a border for the box */
  padding: 16px; /* Add some padding around the table */
  background-color: #f9f9f9; /* Optional: Add a light background */
  border-radius: 8px; /* Optional: Rounded corners */
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

@media (min-width: 600px) { /* sm breakpoint */
  .home-grid-item {
    width: 33.3333%;
  }
}

/* Animations */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
