#General
*.python-version
**.DS_Store**
**__pycache__**
maintenance/maintenance.flag

#Server Items
server/.env*
server/.python-version
server/.secrets
server/config/fixtures/local_data.json
server/config/fixtures/full_local_data.json
server/config/fixtures/dump.json
server/config/fixtures/dump.json
server/config/fixtures/U09_dump.json
server/config/fixtures/local_data.json
server/config/fixtures/full_local_data.json
server/config/fixtures/dump.json
server/config/fixtures/dump.json
server/config/fixtures/U09_dump.json
server/db.sqlite3
server/dump.json
server/dump.json
server/egress
server/env
server/gregor-google-key.json
server/static*
server/tests/results*
server/tests/.coverage
server/tests/fixtures/U09_flattened_sampled_dump.json
server/utilities/anvil**
server/utilities/db_reset.sh
server/utilities/hpo_artifacts**

server/tests/.coverage
server/tests/fixtures/U09_flattened_sampled_dump.json
server/utilities/anvil**
server/utilities/db_reset.sh
server/utilities/hpo_artifacts**


#Client Items
#Client dependencies
client/node_modules
client/.pnp
client/.pnp.js
client/.env

#Client testing
client//coverage

#Client production
client/build

#Client misc
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
