#General
*.python-version
**.DS_Store**
**__pycache__**

#Server Items
server/.env*
server/.python-version
server/.secrets
server/db.sqlite
server/env
server/config/fixtures/local_data.json
server/gregor-google-key.json
server/utilities/anvil**
server/static*

#Client Items
#Client dependencies
client/node_modules
client/.pnp
client/.pnp.js
client/.env

#Client testing
client//coverage

#Client production
client/build

#Client misc
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

server/config/fixtures/full_local_data.json
