[DJANGO_KEYS]
SECRET_KEY=

[SERVER]
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:8000,http://127.0.0.1:8000,https://accounts.google.com
SERVER_VERSION=BETA
DASHBOARD_URL=http://localhost:3000
SCHEMA_VERSION=v1.12

[EMAIL]
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp5000.hs.uci.edu
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=devnoreply@genomics.icts.uci.edu

[DATABASE]
ENGINE=django.db.backends.postgresql
NAME=ictsdashboard_app
USER=postgres
PASSWORD=postgres
HOST=localhost
PORT=5432

[RAG+HPO]
# Where to save CSV/FAISS/NPZ
HPO_DATA_DIR=utilities/hpo_artifacts
# URL for official ontology
HPO_SOURCE_URL=https://purl.obolibrary.org/obo/hp.obo
# Embedding API endpoint
EMBED_BASE_URL=https://api.openai.com/v1
# Your OpenAI key
EMBED_API_KEY=
# Model used for embeddings
EMBED_MODEL=text-embedding-3-large

[AWS]
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=us-east-2

[GENEYX]
GENEYX_APIDB=https://analysis.geneyx.com/api
GENEYX_CONTENT_TYPE=application/json
GENEYX_PAGE_SIZE=2000
GENEYX_USER_ID=
GENEYX_USER_KEY=

[GOOGLE]
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

[TERRA]
TERRA_PROJECT=
TERRA_WORKSPACE=
TERRA_METHOD_NS=