[DJANGO_KEYS]
SECRET_KEY=

[SERVER]
DEBUG=
ALLOWED_HOSTS=
SERVER_VERSION=
DASHBOARD_URL=
DATABASE=
SCHEMA_VERSION=

[EMAIL]
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=